body {
  font-size: 100%;
}


#numpad-table {
  float:left;
  padding-right: 2em;
  padding-bottom: 3em;
}

#command-table {
  padding-bottom: 3em;
}

#commandline-table {
  padding-bottom: 1em;
}

.numpad-button, .command-button, input[type=submit] {
  font-size: inherit;
  padding: 0.5em;
}

.numpad-button {
  width: 3em;
  height: 3em;
}

 .command-button {
   width: 4em;
   height: 3em;
 }

 .command-button-small {
   font-size: 75%;
 }

input[type=text] {
  font-size: 125%;
  padding: 0.25em;
}

/*.numpad-button {
  padding: 1em;
}*/

.enter-button {
  height: 100%;
}
