body {
  font-size: 100%;
}


#numpad-table {
  float:left;
  padding-right: 2em;
  padding-bottom: 3em;
}

#command-table {
  padding-bottom: 3em;
}

.numpad-button, .command-button {
  font-size: inherit;
  padding: 1em;
}

.numpad-button {
  width: 3em;
  height: 3em;
}

 .command-button {
   width: 3em;
   height: 3em;
 }

input {
  font-size: 120%;
  padding: 0.5em;
}

/*.numpad-button {
  padding: 1em;
}*/

.enter-button {
  height: 100%;
}
